vim/vim.symlink/.netrwhist
*.pyc
*.last-run
*.cache
PyV8/osx/config.json
*.DS_Store
git/gitconfig.local.symlink
sublime/User/*.merged-ca-bundle
sublime/User/*.user-ca-bundle
sublime/User/*.crt
sublime/User/*.last-run
sublime/User/*.ca-list
sublime/User/*.ca-bundle
sublime/User/*.system-ca-bundle
sublime/User/*.cache/
sublime/User/*.ca-certs/
